$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

$clr-primary-a0: #6494ed;
$clr-primary-a10: #799fef;
$clr-primary-a20: #8cabf2;
$clr-primary-a30: #9eb6f4;
$clr-primary-a40: #afc2f6;
$clr-primary-a50: #bfcef8;

$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;